@import "../../common/styles.css";

.blog-content-wrapper {
  margin-bottom: 10px;
}

.blog-content-wrapper > h6 {
  font-weight: bold;
}

@media only screen and (max-width: 920px) {
  .blog-wrapper {
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .blog-wrapper > h2,
  .blog-wrapper > p {
    text-align: left;
  }
}

/* SMALL SCREENS | MOBILE */
@media only screen and (max-width: 768px) {
  .blog-wrapper {
    flex-direction: column;
  }
  .blog-text {
    width: fit-content;
  }
}
