:root {
  --primary-color: #4E6447;
}

.cm-portfolio-section {
  padding: 30px 30px 200px 30px;
  max-width: 640px;
}
.sub-title {
  border-bottom: 7px solid #eaeaea;
  margin-bottom: 30px;
  font-size: 12px;
  color: #8c8c8c;
  display: block;
  text-transform: uppercase;
  text-align: right;
  padding-bottom: 10px;
}

.colored-text {
  color: var(--primary-color);
}

a:hover {
  cursor: pointer;
}

p {
  padding-bottom: 15px;
}
.separator-line {
  border: none;
  background: #eaeaea;
  height: 7px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.button {
  font-size: 11px;
  color: #f7f7f7;
  padding: 3px 7px;
  background: var(--primary-color);
  display: inline-block;
  margin-bottom: 15px;
}
.button:hover {
  background: #8c8c8c;
  text-decoration: none;
}

img {
  margin-bottom: 10px;
  border: 1px solid #d1d1d1;
  padding: 4px;
}

blockquote {
  background: url(../assets/images/blockquotes.png) no-repeat;
  font-size: 13px;
  font-style: italic;
  padding-left: 40px;
  margin: 20px 0 20px 20px;
}

@media only screen and (max-width: 920px) {
  .cm-portfolio-section {
    max-width: 680px;
  }
}
